.tech-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tech-container .icon-container {
  height: 150px;
  width: 150px;
  justify-content: center;
  display: inline-flex;
  margin: 0 20px 20px 20px;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .tech-container .icon-container {
    height: 100px;
    width: 100px;
  }
}
